<!DOCTYPE html>
<html>
  <head>
    <title>用户信息</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>unionid<%= user.unionid %></h1>
    <h1>openid<%= user.openid %></h1>
    <h1>nickname <%= user.nickname %></h1>
    <h1>sex <%= user.sex %></h1>
    <h1>city <%= user.city %></h1>
    <h1>province <%= user.province %></h1>
    <h1>country <%= user.country %></h1>
    <h1>头像 <img src="<%= user.headimgurl %>"></h1>

  </body>
</html>
